extends layout
block content
    div(class="container")
        h1 Synced Canvas
        div(class='btn-group', id="drawingType")
            button(type="button", data-draw-type="line", class="btn") Line
            button(type="button", data-draw-type="square", class="btn") Square
            button(type="button", data-draw-type="pen", class="btn") Pen

    div(class="container")
        canvas(width="800", height="600", id="canvas")